.form {
  width: 300px;
}
.button {
  display: block;
  min-width: 300px;
  border: 0;
  cursor: pointer;
  color: black;
  padding: 10px;
  margin-right: 5px;
  margin-top: 15px;
  background-color: #fff;
  border: solid 1px grey;
}

.label {
  display: flex;
  justify-content: space-between;
}
